<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Diseñamos lo que necesitas!</h2>
                <hr class="light">
                <p class="text-faded">Dagaa es una firma de desarrollo y diseño que nacio en Guadalajara, Jalisco etc..</p>
                <a href="#" class="btn btn-default btn-xl">¡Hecha un vistazo!</a>
            </div>
        </div>
    </div>
</section>
