<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://dagaa.mx/img/dagaa-col-1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Innovation maker
                            </div>
                            <div class="project-name">
                                ADOLFO COTA
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://dagaa.mx/img/dagaa-col-2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Administration and Finance
                            </div>
                            <div class="project-name">
                                DIANA CORDOVA
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://dagaa.mx/img/dagaa-col-3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Project Manager
                            </div>
                            <div class="project-name">
                                EMMANUEL GALVAN
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://dagaa.mx/img/dagaa-col-4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Mechanical design engineer
                            </div>
                            <div class="project-name">
                                JOSE JUAN MADRIGAL
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://dagaa.mx/img/dagaa-col-5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Electronics and programming creator
                            </div>
                            <div class="project-name">
                                JUAN CARLOS ROJAS
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="https://ca.slack-edge.com/TANAXV0SE-UJAP2RNE5-54533c5e430b-512" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Design and manufacturing engineer
                            </div>
                            <div class="project-name">
                                CESAR HUMBERTO GALINDO
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
